body {
    margin: 0;
    background-color: lightblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

canvas {
    width: 400pt;
    border: 1px solid white;
    margin: 0 auto 0;
    display: block;
}

.settings {
    text-align: center;
    margin-bottom: 200px;
}

h1 {
    text-align: center;
    font-size: 8em;
}

h2 {
    margin-top: 50px;
}

#load {
    margin-left: -80px;
}

#choose {
    margin-left: -100px;
}